@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

/* sidebar */
.m-sidebar {
    position: fixed;
    width: 232px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #cccccc;
    box-sizing: border-box;
    /* right: -232px; */
    z-index: 50;
    /* display: none; */
}
#sidebar {
    position: fixed;
    width: 232px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #cccccc;
    box-sizing: border-box;
    right: -212px;
    z-index: 50;
}
.btn-sidebar {
    position: absolute;
    width: 30px;
    height: 44px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-sidebar-open {
    position: absolute;
    z-index: 35;
}
.sb-logo {
    width: 46px;
    display: block;
    margin-top: 50px;
}
.sb-logo img {
    width: 100%;
}
.login {
    width: 172px;
    margin: 0 auto;
    margin-top: 32px;
}
.login li {
    width: 172px;
    height: 32px;
    border: 1px solid #6F8D3F;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.login li:last-child {
    border: none;
    background-color: #6F8D3F;
}
.login li:last-child a {
    color: white;
    display: block;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1px;
}
.login li span {
    float: left;
    width: 20px;
    font-size: 13px;
    line-height: 32px;
    color: #999;
    margin: 0 10px;
}
.login li input {
    width: 128px;
    height: 20px;
    margin-top: 6px;
    border: none;
}
.join-find {
    width: 180px;
    margin: 0 auto;
    margin-top: -5px;
}
.join-find li {
    float: left;
}
.join-find li::after {
    content: '|';
    display: inline-block;
    margin: 0 2px;
    font-size: 10px;
    color: #999;
}
.join-find li:last-child::after {
    display: none;
}
.join-find li a {
    font-size: 12px;
    color: #999;
}
.short-menu {
    width: 172px;
    height: 113px;
    margin-top: 80px;
}
.short-menu li {
    position: relative;
    float: left;
    width: 54px;
    height: 54px;
    background-color: #F4F4F1;
}
.short-menu li:nth-child(2), .short-menu li:nth-child(5) {
    margin: 0 5px;
}
.short-menu li:nth-child(4), .short-menu li:nth-child(5), .short-menu li:nth-child(6) {
    margin-top: 5px;
}
.short-menu li a img {
    width: 22px;
    margin-left: 16px;
    margin-top: 10px;
}
.short-menu li:last-child a img {
    width: 25px;
    margin-left: 14px;
}
.short-menu li a p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 11px;
    color: #555;
}
.recent {
    width: 172px;
    margin-top: 80px;
}
.recent h2 {
    font-size: 13px;
    height: 25px;
    border-bottom: 1px solid #6F8D3F;
}
.recently-view {
    margin-top: 10px;
}
.recently-view li {
    width: 80px;
    float: left;
    margin-bottom: 10px;
}
.recently-view li:nth-child(2n) {
    margin-left: 12px;
}
.recently-view li a img {
    width: 100%;
}
.recently-view li a p {
    font-size: 11px;
    text-align: center;
}
.btn-recent{
    width: 44px;
    margin: 0 auto;
}
.btn-recent a img {
    width: 20px;
    float: left;
}
.btn-recent a:nth-child(2) img {
    transform: rotate(180deg);
    float: right;
}


/* header */
#header {
    width: 1360px;
    height: 110px;
    position: relative;
    padding-top: 40px;
    right: -10px;
}
.logo {
    width: 100px;
    position: absolute;
    left: -100px;
}
.logo img {
    width: 100%;
}
.nav {
    float: right;
    width: 1310px;
    height: 96px;
    border-bottom: 2px solid #6F8D3F;
    box-sizing: border-box;
}
.gnb {
    display: flex;
    width: 1112px;
}
.gnb > li {
    float: left;
    width: 200px;
    text-align: center;
    margin-top: 55px;
}
.gnb > li > a {
    font-size: 18px;
    display: block;
}
.gnb li a {
    color: #282828;
}
.lnb {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 10;
    top: 136px;
    background-color: #f7f7f7;
}
.lnb li {
    height: 45px;
    line-height: 45px;
}
.lnb li a {
    display: block;
}
.lnb li a:hover {
    background-color: #799A44;
    color: white;
} 
.search-box {
    position: absolute;
    width: 140px;
    height: 22px;
    right: 0;
}
.search-box input { 
    float: left;
    width: 116px;
    border: none;
    border-bottom: 1px solid #999;
    padding: 3px 5px;
    box-sizing: border-box;
    font-size: 12px;
    margin-right: 3px;
}
.search-box a {
    float: left;
}
.search-box a img {
    width: 20px;
    margin-top: 2px;
}

/* main */
#main {
    width: 1360px;
    height: 600px;
    margin-top: 32px;
    position: relative;
    right: -10px;
}
.deco {
    width: 25px;
    height: 570px;
    position: absolute;
    top: 30px;
    left: -64px;
}
.deco-line {
    width: 2px;
    height: 240px;
    background-color: #6F8D3F;
    /* margin-left: 8px; */
}
.deco img {
    width: 18px;
    margin-left: 3.5px;
    margin-top: 25px;
}
.main-slide {
    width: 1360px;
    height: 600px;
    overflow: hidden;
}
.main-slide-imgs {
    width: 4080px;
    height: 600px;
    font-size: 0;
}
.main-slide li {
    float: left;
}

/* 슬라이더 공통 */
.slider {
    position: relative;
}
.slider > .pages {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
.slider > .pages > div {
    width: 40px;
    height: 7px;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
}
.slider > .pages > div:nth-child(2) {
    margin: 0 3px;
}
.slider > .pages > div:hover, .slider > .pages > div.active {
    background-color:rgba(255,255,255,1);
}
.slider > .slides > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}
.slider > .slides > div.active {
    opacity:1;
}
.slider > .side-btns > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    cursor: pointer;
    opacity: 0.5;
}
.slider > .side-btns > div:last-child {
    left: auto;
    right: 20px;
}

/* contents */
#contents {
    width: 1200px;
}
.best, .class, .magazine {
    margin-top: 100px;
    overflow: hidden;
}
.best h2, .class h2, .magazine h2 {
    width: 1200px;
    height: 60px;
    line-height: 60px;
    position: relative;
    border-bottom: 2px solid #6F8D3F;
    box-sizing: border-box;
}
.best h2 a, .class h2 a, .magazine h2 a {
    font-size: 24px;
    font-weight: bold;
}
.best h2 span, .class h2 span, .magazine h2 span {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #555;
    line-height: 75px;
}
.best-product, .contents-class, .magazine-box {
    margin-top: 30px;
}
.best-product li, .contents-class li {
    float: left;
    width: 260px;
    margin-right: 53px; 
    position: relative;
}
.best-product li a img, .contents-class li a img {
    width: 100%;
}
.best-product li:last-child, .contents-class li:last-child {
    margin-right: 0;
}
.best-product li a p:nth-of-type(1) {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #777;
}
.best-product li a p:nth-of-type(2) {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}
.best-product li a p:nth-of-type(3) {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
}
.best-product li a p:nth-of-type(3) span {
    font-size: 14px;
}
.contents-class li span {
    font-size: 14px;
}
.best-product li a img:nth-of-type(2), .contents-class li a img:nth-of-type(2) {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
}
.contents-class li a p {
    font-weight: bold;
}
.magazine-box li {
    float: left;
    width: 385px;
    height: 320px;
    border: 0.5px solid #ddd;
    box-sizing: border-box;
}
.magazine-box li:nth-child(2) {
    margin: 0 22px;
}
.magazine-box li span {
    width: 383px;
    height: 250px;
}
.magazine-box li span img {
    width: 383px;
    height: 250px;
    object-fit: cover;
}
.magazine-box li p {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 6px;
}
.magazine-box li h3 {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 3px;
}

/* btn-top */
.btn-top {
    width: 1200px;
    margin-top: 78px;
    overflow: hidden;
}
.btn-top img {
    float: right;
}

/* footer */
#footer {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.footer-top {
    width: 100%;
    height: 60px;
    line-height: 55px;
    border-top: 2px solid #6F8D3F;
    border-bottom: 2px solid #6F8D3F;
    box-sizing: border-box;
}
.footer-top-wrap {
    width: 1200px;
    overflow: hidden;
}
.info-nav li {
    float: left;
}
.info-nav li::after {
    content: '|';
    display: inline-block;
    margin: 0 10px;
    color: #ccc;
}
.info-nav li:last-child::after {
    display: none;
}
.info-nav li a {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}
.f-sns {
    float: right;
}
.f-sns li {
    float: left;
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin-top: 11px;
    margin-left: 15px;
}
.f-sns li a img {
    width: 100%;
}
.footer-main {
    width: 1200px;
    margin-top: 40px;
}
.cs {
    float: right;
    width: 440px;
    height: 160px;
    background-color: #ECF3DF;
}
.cs h2 {
    margin-top: 20px;
    margin-left: 40px;
}
.cs h2 a {
    font-size: 14px;
    color: #555;
}
.cs p:nth-of-type(1) {
    font-size: 24px;
    font-weight: bold;
    color: #282828;
    margin-top: 5px;
    margin-left: 40px;
}
.cs p:nth-of-type(2) {
    font-size: 13px;
    line-height: 25px;
    color: #777;
    margin-top: 5px;
    margin-left: 40px;
}
.info-box {
    float: left;
}
.info-box p {
    font-size: 13px;
    line-height: 26px;
    color: #555;
}
.info-box p a {
    font-size: 13px;
    color: #000;
    text-decoration: underline;
}
.info-box p:nth-child(1) a {
    margin-left: 5px;
}
.info-box p span {
    font-size: 13px;
    color: #000;
}


@media screen and (max-width: 480px) {
    body {
        width: 100%;
        font-size: 12px;
    }
    /* sidebar */
    .m-sidebar {
        position: relative;
        right: -232px;
    }
    .btn-sidebar {
        top: 27px;
        transform: none;
    }
    .sb-logo {
        display: none;
    }
    .login li span {
        font-size: 11px;
    }
    .login li:last-child a {
        font-size: 11px;
    }
    .join-find {
        width: 172px;
    }
    .join-find li a {
        font-size: 11px;
        margin-left: 2px;
    }
    .short-menu li a p {
        font-size: 10px;
    }
    .recent {
        margin-top: 70px;
    }
    .recently-view li a p {
        font-size: 10px;
    }
    .btn-recent {
        display: none;
    }

    /* header */
    #header {
        width: 100%;
        height: 127px;
        padding: 0;
        right: 0;
    }
    .logo {
        width: 55px;
        top: 15px;
        left: 15px;
    }
    .nav {
        clear: right;
        width: 100%;
        height: auto;
        border: none;
        position: absolute;
        bottom: 10px;
    }
    .gnb {
        width: 100%;
    }
    .gnb > li {
        width: 20%;
        /* text-align: left; */
        margin: 0;
    }
    .gnb > li > a {
        font-size: 14px;
    }
    .lnb {
        width: 20%;
        top: 30px;
    }
    .lnb li {
        height: 40px;
        line-height: 40px;
    }
    .lnb li a {
        font-size: 13px;
        text-align: center;
    }
    .search-box {
        width: 110px;
        height: 16px;
        top: 40px;
        right: 63px;
    }
    .search-box input {
        width: 92px;
        padding: 2px 3px;
        font-size: 10px;
    }
    .search-box a img {
        width: 15px;
    }

    /* main */
    #main {
        width: 100%;
        height: 300px;
        margin: 0;
        right: 0;
    }
    .deco {
        display: none;
    }
    .main-slide {
        width: 100%;
        height: 300px;
    }
    .main-slide-imgs {
        width: 300%;
        height: 300px;
    }

    /* 슬라이더 */
    .main-slide-imgs > div > img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .slider > .pages {
        bottom: 10px;
    }
    .slider > .pages > div {
        width: 35px;
        height: 5px;
    }
    .slider > .side-btns > div > img {
        width: 20px;
    }

    /* contents */
    #contents {
        width: 100%;
    }
    .best, .class, .magazine {
        margin-top: 70px;
    }
    .best h2, .class h2, .magazine h2 {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .best h2 a, .class h2 a, .magazine h2 a {
        font-size: 18px;
        margin-left: 25px;
    }
    .best h2 span, .class h2 span, .magazine h2 span {
        line-height: 60px;
        right: 25px;
    }
    .best-product, .contents-class, .magazine-box {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .best-product li, .contents-class li {
        width: 47%;
        margin: 0;
        margin-right: 6%;
        margin-bottom: 6%;
    }
    .best-product li:nth-child(2n), .contents-class li:nth-child(2n) {
        margin-right: 0;
    }
    .best-product li a p:nth-of-type(1) {
        font-size: 11px;
        height: 15px;
        line-height: 15px;
    }
    .best-product li a p:nth-of-type(2) {
        font-size: 13px;
        height: 25px;
        line-height: 25px;
    }
    .best-product li a p:nth-of-type(3) {
        font-size: 13px;
        height: 18px;
        line-height: 18px;
    }
    .best-product li a p:nth-of-type(3) span {
        font-size: 11px;
    }
    .contents-class li a span {
        font-size: 12px;
    }
    .contents-class li a p {
        font-size: 13px;
    }
    .magazine-box li {
        clear: left;
        width: 90%;
        margin-bottom: 4%;
    }
    .magazine-box li:nth-child(2) {
        margin: 0;
        margin-bottom: 4%;
    }
    .magazine-box li p {
        font-size: 11px;
        margin-left: 15px;
        margin-top: 8px;
    }
    .magazine-box li h3 {
        font-size: 13px;
        margin-left: 15px;
        margin-top: 5px;
    }

    /* btn-top */
    .btn-top {
        width: 100%;
        margin-top: 70px;
    }

    /* footer */
    .footer-top {
        height: 50px;
        line-height: 45px;
    }
    .footer-top-wrap {
        width: 90%;
    }
    .info-nav li::after {
        font-size: 9px;
        margin: 0 5px;
    }
    .info-nav li a {
        font-size: 11px;
    }
    .f-sns li {
        width: 26px;
        height: 32px;
        margin-top: 7px;
    }
    .footer-main {
        width: 90%;
        margin-top: 20px;
    }
    .cs {
        width: 100%;
        height: 130px;
    }
    .cs h2 {
        margin-top: 10px;
        margin-left: 30px;
    }
    .cs h2 a {
        font-size: 13px;
    }
    .cs p:nth-of-type(1) {
        font-size: 20px;
        margin-left: 30px;
    }
    .cs p:nth-of-type(2) {
        font-size: 11px;
        line-height: 22px;
        margin-left: 30px;
    }
    .info-box {
        margin-top: 15px;
    }
    .info-box p {
        font-size: 11px;
        line-height: 22px;
    }
    .info-box p a {
        font-size: 11px;
    }
    .info-box p span {
        font-size: 11px;
    }
}
